.git
.agents
.claude

backend/target
frontend/node_modules
frontend/dist

documents
!documents/
documents/*
!documents/data/
documents/data/*
!documents/data/frontend_template_data.mv.db
output
python/__pycache__

*.log
.DS_Store
